<ul>
    <li class="pokemon-font">Name: <span id="pokemon-name">{{name}}</span> (#{{id}})</li>
    <li class="pokemon-font">Type: {{type1}}</li>
    {{#if type2}}
    <li class="pokemon-font">Type 2: {{type2}}</li>
    {{/if}}
    <li class="pokemon-font">Total Power: {{total}}</li>
</ul>